@import url(screen.css);

.box {
	background-color: #f7f7f7;
	border: 1px solid #555;
	border-radius: 5px;
}

pre {
	background-color: #fffff7;
	/*border: 1px solid #fff;*/
	/*border-radius: 3px;*/
	font-size: 14px;
	font-weight: bold;
}

button {
	background-color: #31f;
	color: #fff;
	border: 1px solid #555;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
}

button:disabled {
	cursor: default;
}

