/* CSS Mini Reset
https://github.com/vladocar/CSS-Mini-Reset */

html, body, div, form, fieldset, legend, label
{
	margin: 0;
	padding: 0;	
}

table
{
	border-collapse: collapse;
	border-spacing: 0;
}

th, td
{
	text-align: left;
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }

img { border: 0; }

/* Game CSS */

.results-state .codez-container,
.results-state .score-container {
	display: none;
}