[submodule "js/wire"]
	path = js/wire
	url = git://github.com/cujojs/wire.git
[submodule "js/when"]
	path = js/when
	url = git://github.com/cujojs/when.git
[submodule "js/curl"]
	path = js/curl
	url = git://github.com/cujojs/curl.git
[submodule "js/aop"]
	path = js/aop
	url = git://github.com/cujojs/aop.git
[submodule "js/poly"]
	path = js/poly
	url = cujojs:poly
