.heading-view {
	text-align: center;
}

.heading-view .header-image {
	display: inline-block;
	height: 1em;
	margin: 10px;
	padding-top: 100px;
	width: 100px;
}

.heading-view .pirate-image {
	background: url(assets/pirate-image-100x100.png) no-repeat;
}

.heading-view .noob-image {
	background: url(assets/noob-image-100x100.png) no-repeat;
}
