.heading-view {
	text-align: center;
}

.heading-view .header-image {
	display: inline-block;
	height: 1em;
	margin: 10px 30px;
	padding-top: 100px;
	width: 100px;
}

.heading-view .pirate-image {
	background-image: url(assets/pirate-image-100x100.png);
	background-repeat: no-repeat;
}

.heading-view .noob-image {
	background-image: url(assets/noob-image-100x100.png);
	background-repeat: no-repeat;
}
