<div class="app-view codez-view">
	<div class="buttons">
		<button class="pirate-button" value="1">Moar<br/>Piratey!</button>
	</div>
	<div class="codez box">
		<code>
			<pre class="codez-container">${firstScript}</pre>
		</code>
	</div>
	<div class="buttons">
		<button class="pirate-button" value="0">Moar<br/>Piratey!</button>
	</div>
	<div class="codez box">
		<code>
			<pre class="codez-container">${secondScript}</pre>
		</code>
	</div>
	<div class="reasonz">${reason}</div>
	<div class="proceed">
		<button class="proceed-button">Next</button>
	</div>
</div>
