@import url(../../../css/app.css);

.codez-view {
}

.codez-view .codez {
	margin: 5px;
	padding: 5px;
}

.codez-view .buttons {
	float: right;
	margin: 5px;
    text-align: left;
    width: 100px;
}

.codez-view pre {
	margin: 0;
	overflow: auto;
	padding: 5px;
}

.codez-view .reasonz,
.codez-view .proceed {
	display: none;
}

.codez-view.answered .reasonz,
.codez-view.answered .proceed {
	display: block;
}

.codez-view .correct-text,
.codez-view .incorrect-text {
	display: none;
}

.codez-view.correct .correct-text {
	display: inline;
}

.codez-view.incorrect .incorrect-text {
	display: inline;
}
